<section id="profile">
  <div class="inner">
    <div class="row">
      <div class="6u 12u$(medium)">
        <header class="major">
          <h2>Developer</h2>
        </header>

        <p>A little bit about me.</p>

        <ul class="actions">
          <li><a href="#" class="button icon fa-download">Résumé</a></li>
          <li><a href="{{ site.url }}/contact" class="button icon fa-envelope">Mail me</a></li>
        </ul>
      </div>

      <div class="6u 12u$(medium)">
        <p>
          <!-- Skills -->
        </p>
      </div>
    </div>
  </div>
</section>
