<section id="categories" class="tiles">
  {% for p in site.data.pages %}
    {% if p.title != "Blog" %}
      {% for pg in site.pages %}
        {% if p.title == pg.title %}
          <article>
            <span class="image">
              <img src="{{ pg.image }}" />
            </span>

            <header class="major">
              <h3><a href="{{ site.baseurl }}{{ pg.url }}" class="link">{{ pg.title }}</a></h3>
              <p>{{ pg.description }}</p>
            </header>
          </article>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</section>
