<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include header.html %}

  {% for pg in site.pages %}
  {% if pg.category == page.categories[0] and page.categories[0] != blank %}
  {% assign category_style = pg.style %}
  {% break %}
  {% else %}
  {% assign category_style = 1 %}
  {% endif %}
  {% endfor %}
  <section id="banner" class="style{{ category_style }}">
    <div class="inner post">
      <span class="image">
        <img src="{{ site.baseurl }}/{{ page.image }}" alt="" />
      </span>
      <header class="major">
        <h1>{{ page.title }}</h1>
      </header>
      <div class="content">
        <p>{{ page.description }}</p>
      </div>
      <div class="content">
        {% if page.categories contains "blog" %}
        <p class="icon fa-calendar">
          {{ page.date | date: '%B %d, %Y' }}
        </p>
        {% endif %}

        {% if page.tags != blank %}
        <p class="icon fa-tags">
          {% for tag in page.tags %}
          {{ tag }}
          {% endfor %}
        </p>
        {% endif %}
        </header>
      </div>
    </div>
  </section>

  <div id="main">
    <section id="post">
      <div class="inner post">
        {{ content }}
      </div>
    </section>
  </div>

  {% include footer.html %}

</body>

</html>
